
*.7z
*.gz
*.log
*.syncfolderspro
*.tmp
*.tsv
*.xlsx
*.xz
*.zip
.DS_Store
.rustc_info.json
/bin/account_dump/*.json
/bin/analyse_bots/tweets/*.txt
/bin/analyse_tweet_network/*.json
/bin/analyse_tweet_network/*.ndjson
/bin/analyse_tweet_network/web/data/*.json
/bin/botometer/old_data/
/bin/botometer/results/
/bin/find_verified/data/
/bin/germany/4_server/*.txt
/bin/germany/4_server/_server/
/bin/list_scraper/*.svg
/bin/list_scraper/data/*.txt
/bin/measure_interactions/*.json
/bin/rp18bundeswehr/
/bin/search/*.txt
/bin/world4/lib/Cargo.lock
/bin/world4/lib/count_in_array
/bin/world4/lib/debug
/bin/world4/lib/release
/botometer/
/cache/*/
/config
/data
/node_modules
/package-lock.json
