*.7z
*.gz
*.log
*.tsv
*.txt
*.xz
*.zip
bin/analyse_tweet_network/*.json
bin/analyse_tweet_network/*.ndjson
bin/analyse_tweet_network/web/data/*.json
bin/germany/4_server/_server/
bin/rp18bundeswehr/
botometer/
cache/*/
config
data/germany/*.bin
data/germany/*.png
data/world/dbs/
node_modules
package-lock.json
